@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Advent Pro', sans-serif;
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
h2 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
  font-size: 2em;
}
a {
  text-decoration: none;
  color: black;
}
/* ******************* NAVBAR ******************* */
nav {
  overflow: hidden;
  background-color: rgb(167, 162, 115);
  position: fixed;
  width: 100%;
  opacity: 0.9;
}
header li {
  float: right;
  font-size: 1.2em;
}
header li a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 18px 16px;
}
#logo {
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  float: left;
}
/* **************** IMAGE PRINCIPALE ************* */
#imagePrincipale {
  padding-top: 60px;
  background: url(media/Image_central.png) no-repeat fixed 50% 50%;
  background-size: cover;
  height: 799px;
}
h1 {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: antiquewhite;
  font-size: 6em;
  margin-top: 100px;
  text-shadow: 5px -5px 20px #bfbc23, 5px -5px 20px #bfbc23, 5px -5px 20px #BF2338, 5px -5px 20px #941B2B, 5px -5px 20px #941B2B, 5px -5px 20px #941B2B, 5px -5px 20px #941B2B;
}
#premierTrait {
  height: 1px;
  width: 25%;
  margin: -3px auto;
  background-color: rgb(182, 170, 170);
  box-shadow: rgb(177, 115, 115) 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);
}
h3 {
  text-align: center;
  color:antiquewhite;
  font-size: 3em;
  text-shadow: 5px -5px 20px #bfbc23, 5px -5px 20px #bfbc23, 5px -5px 20px #BF2338, 5px -5px 20px #941B2B, 5px -5px 20px #941B2B, 5px -5px 20px #941B2B, 5px -5px 20px #941B2B;
}
/* *************** PRESENTATION ********************** */
#presentation {
  background-color: rgb(167, 162, 115);
  padding: 75px 0px 100px 0;
}
#texteIntro {
  padding: 0px 20%;
}
#prestations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 10%;  
}
.imagesPrestations h4 {
  font-family: 'Dela Gothic One', cursive;
  text-align: center;
  font-size: 0.85em;
  margin: 15px;
  font-weight: 300;
}
.imagesPrestations img {
  border-radius: 10px;
  box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.7);
}
.imagesPrestations img:hover {
  opacity: 0.7;
  transform: scale(1.02);
  transition: 0.2s ease-in-out;
}
#imageG {
  margin-left: auto;
  margin-right: auto;
}
#Changements {
  background-color: rgb(167, 162, 115);
  padding: 10px 0px 75px 0;
  border-style: solid;   
  border-color: #bdc022; 
  border-width: 0.5em;
}
#pave {
  padding: 0px 30%;
  font-size: 1.5em;
}
#changement {
  background-color: rgb(167, 162, 115);
  padding: 30px 0px 70px 0;
}
#pate {
  padding: 0px 20%;
  font-family: 'Advent Pro', sans-serif;
  font-weight: bold;
}
.optifine {
  font-size: 1em;
  text-decoration: underline;
  color: rgb(177, 59, 51);
}
/* **************** Comment mettre le pack? ********************** */
#Mettre_le_pack {
  height: 1400px;
  background-color: rgb(167, 162, 115);
  padding: 2px 2%;
}
#Mettre_le_pack h2 {
  padding-top: 20px;
  text-decoration: underline;
}
#Télécharger {
  font-size: 0.7em;
  background: url(media/fléches.png);
  color: rgb(255, 208, 0);
  font-family: 'Josefin Sans', sans-serif;
}
#Fichier {
  background: url(media/Minecraft.jpg);
  color: rgb(255, 208, 0);
  font-family: 'Josefin Sans', sans-serif;
}
#Emplacement {
  background: url(media/Dossier.png);
  color: rgb(255, 208, 0);
  font-family: 'Josefin Sans', sans-serif;
}
#Coller {
  background: url(media/copier.png);
  color: rgb(255, 208, 0);
  font-family: 'Josefin Sans', sans-serif;
}
#Mettre_le_pack li {
  margin: 65px 100px 0 100px;
  height: 226px;
  width: 55%;
  max-width: 550px;
  float: left;
  box-shadow: 6px 6px 28px -1px rgba(0,0,0,0.75);
}
#Mettre_le_pack p {
  height: 45px;
  width: 235px;
  background-color: #525252;
  float:right;
  margin: 50px -210px;
  font-size: 1.5em;
  text-align: center;
  padding-top: 20px;
  box-shadow: 4px 4px 0 1px rgb(56, 56, 56);
}
#Mettre_le_pack #Fichier, #Mettre_le_pack #Coller {
  float: right;
}
#Fichier p, #Coller p {
  float: left;
  background-color: #525252;
  margin-left: -215px;
  box-shadow: -4px 4px 0 1px rgb(56, 56, 56);
}
/* ******************* FOOTER ******************** */
footer {
  background-color: rgb(134, 141, 66);
  color: #FFFAE1;
  padding: 20px 0 10px 0;
  text-align: center;
}
form {
  margin: 0 auto;
  max-width: 900px;
}
button {
    background-color: #726d28;
    border: none;
    color: antiquewhite;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
  }
#attention {
    font-size: 1.5em;
}
#deuxiemeTrait {
  height: 1px;
  width: 75%;
  background-color: #FFFAE1;
  margin: 60px auto;
}
#copyrightEtIcons {
  display: flex;
  margin-bottom: 20px;
  padding: 0 10%;
}
#copyright {
  width: 50%;
  text-align: left;
  color: #FFFAE1;
}
#icons {
  width: 50%;
  text-align: right;
}
#icons a {
  display: inline-block;
  padding: 0 15px;
  font-size: 1.3em;
  color: #FFFAE1;
}
#icons a:hover {
  transform: scale(1.5);
  transition: 0.1s;
}
